@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
$blue-dark:#1F2937;
$blue-normal:#3D4B60;
$background:#242424;
$primary:#F55A5A;
$grey:#E5E5E5;
:root {
  background-color: $background;
  color: rgba(255, 255, 255, 0.87);

  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
  font-weight: 500;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

a {
  color: $primary;
  font-weight: 500;
  text-decoration: inherit;
  &:hover {
    color: lighten($primary,10%);
  }
}



body {
  align-items: flex-start;
  display: flex;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}


main{
  #colorSchemeForm{
    align-items: center;
    background-color: $blue-dark;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    input,select,button{
      padding:15px;
    }
    #colorPicker{
      background-color:$grey;
      height: 48px;
      padding: 0;
      width: 60px;
    }
    #selectType{
    }
    button{
      background:$blue-normal;
      &:hover{
        background:lighten($blue-normal,10%);
      }
    }
  }
  .color-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 0;
    padding: 0;
    li{
      display: flex;
      flex-direction: column;
      .color-swatch:hover{
       cursor: pointer;
        img{

        }
      }
      .color-legend{
        background-color: $blue-dark;
        color:white;
        flex:1;
        padding:20px 10px;
        text-align: center;
      }
    }
  }
}


button {
  background-color: $blue-normal;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
  &:hover {
    border-color: lighten($blue-normal,10%);
  }
  
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
}


@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}